body {
	background-color: #062938;
}
td {
	font-family: tahoma,verdana,arial;
	font-size: 12px;
	color: white;
	text-decoration: none;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: gold;
}
.a_underline {
	text-decoration: underline;
}
.td_inner {
	background-color: black;
	text-align: justify
}
.td_title {
	font-family: Trebuchet MS,tahoma,verdana,arial;
	font-size: 16px;
	color: gold;
	text-decoration: none;
	font-weight: bold;
}
.menu_select {
	color: gold;
}
acronym {
	border-bottom: 1px dashed white;
	cursor: help;
}
.important {
	color: gold;
}
.FAQ {
	color: gold;
	font-weight: bold;
}

/*
     FILE ARCHIVED ON 13:43:01 Dec 15, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:05:10 Mar 31, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 125.803
  exclusion.robots: 0.106
  exclusion.robots.policy: 0.097
  cdx.remote: 0.055
  esindex: 0.007
  LoadShardBlock: 68.401 (3)
  PetaboxLoader3.datanode: 111.603 (4)
  load_resource: 188.626
  PetaboxLoader3.resolve: 110.032
*/